#mainNav .navbar-brand img {
    height: 2.5rem;
}

@media (min-width: 992px) {
    #mainNav .navbar-brand img {
      height: 4rem; 
    }
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F0B35B;
    --bs-btn-border-color: #F0B35B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d9aa00;
    --bs-btn-hover-border-color: #cca000;
    --bs-btn-focus-shadow-rgb: 255, 208, 38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cca000;
    --bs-btn-active-border-color: #bf9600;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F0B35B;
    --bs-btn-disabled-border-color: #F0B35B;
}
header.masthead { 
    padding-bottom: 26rem; 
   background-image: url(../assets/img/fundo.png);  
}